@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSans/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/OpenSans/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/OpenSans/OpenSansRegular/OpenSansRegular.woff") format("woff");
  src: url("../fonts/OpenSans/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/OpenSans/OpenSansLight/OpenSansLight.eot");
  src: url("../fonts/OpenSans/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/OpenSans/OpenSansLight/OpenSansLight.woff") format("woff");
  src: url("../fonts/OpenSans/OpenSansLight/OpenSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "OpenSansItalic";
  src: url("../fonts/OpenSans/OpenSansItalic/OpenSansItalic.eot");
  src: url("../fonts/OpenSans/OpenSansItalic/OpenSansItalic.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/OpenSans/OpenSansItalic/OpenSansItalic.woff") format("woff");
  src: url("../fonts/OpenSans/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSans/OpenSansBold/OpenSansBold.eot");
  src: url("../fonts/OpenSans/OpenSansBold/OpenSansBold.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/OpenSans/OpenSansBold/OpenSansBold.woff") format("woff");
  src: url("../fonts/OpenSans/OpenSansBold/OpenSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "OpenSansExtraBold";
  src: url("../fonts/OpenSans/OpenSansExtraBold/OpenSansExtraBold.eot");
  src: url("../fonts/OpenSans/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/OpenSans/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff");
  src: url("../fonts/OpenSans/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "OpenSansExtraBoldItalic";
  src: url("../fonts/OpenSans/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot");
  src: url("../fonts/OpenSans/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/OpenSans/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.woff") format("woff");
  src: url("../fonts/OpenSans/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "OpenSansBoldItalic";
  src: url("../fonts/OpenSans/OpenSansBoldItalic/OpenSansBoldItalic.eot");
  src: url("../fonts/OpenSans/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/OpenSans/OpenSansBoldItalic/OpenSansBoldItalic.woff") format("woff");
  src: url("../fonts/OpenSans/OpenSansBoldItalic/OpenSansBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "OpenSansRegularItalic";
  src: url("../fonts/OpenSans/OpenSansRegularItalic/OpenSansRegularItalic.eot");
  src: url("../fonts/OpenSans/OpenSansRegularItalic/OpenSansRegularItalic.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/OpenSans/OpenSansRegularItalic/OpenSansRegularItalic.woff") format("woff");
  src: url("../fonts/OpenSans/OpenSansRegularItalic/OpenSansRegularItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "OpenSansSemiBold";
  src: url("../fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.eot");
  src: url("../fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff");
  src: url("../fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "OpenSansSemiBoldItalic";
  src: url("../fonts/OpenSans/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot");
  src: url("../fonts/OpenSans/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/OpenSans/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.woff") format("woff");
  src: url("../fonts/OpenSans/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "YesevaOneRegular";
  src: url("../fonts/YesevaOne/YesevaOneRegular/YesevaOneRegular.eot");
  src: url("../fonts/YesevaOne/YesevaOneRegular/YesevaOneRegular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/YesevaOne/YesevaOneRegular/YesevaOneRegular.woff") format("woff");
  src: url("../fonts/YesevaOne/YesevaOneRegular/YesevaOneRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/Lato/LatoRegular/LatoRegular.eot");
  src: url("../fonts/Lato/LatoRegular/LatoRegular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Lato/LatoRegular/LatoRegular.woff") format("woff");
  src: url("../fonts/Lato/LatoRegular/LatoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "LatoLight";
  src: url("../fonts/Lato/LatoLight/LatoLight.eot");
  src: url("../fonts/Lato/LatoLight/LatoLight.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Lato/LatoLight/LatoLight.woff") format("woff");
  src: url("../fonts/Lato/LatoLight/LatoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "LatoItalic";
  src: url("../fonts/Lato/LatoItalic/LatoItalic.eot");
  src: url("../fonts/Lato/LatoItalic/LatoItalic.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Lato/LatoItalic/LatoItalic.woff") format("woff");
  src: url("../fonts/Lato/LatoItalic/LatoItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "LatoBold";
  src: url("../fonts/Lato/LatoBold/LatoBold.eot");
  src: url("../fonts/Lato/LatoBold/LatoBold.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Lato/LatoBold/LatoBold.woff") format("woff");
  src: url("../fonts/Lato/LatoBold/LatoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "LatoBoldItalic";
  src: url("../fonts/Lato/LatoBoldItalic/LatoBoldItalic.eot");
  src: url("../fonts/Lato/LatoBoldItalic/LatoBoldItalic.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Lato/LatoBoldItalic/LatoBoldItalic.woff") format("woff");
  src: url("../fonts/Lato/LatoBoldItalic/LatoBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "LatoLightItalic";
  src: url("../fonts/Lato/LatoLightItalic/LatoLightItalic.eot");
  src: url("../fonts/Lato/LatoLightItalic/LatoLightItalic.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Lato/LatoLightItalic/LatoLightItalic.woff") format("woff");
  src: url("../fonts/Lato/LatoLightItalic/LatoLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

h2, h3, h4 {
  font-weight: normal; }

[class*='-inner'] {
  max-width: 1200px;
  padding-left: 131px;
  padding-right: 131px;
  margin: 0 auto; }

[class*='-left'], [class*='-right'] {
  width: 48%;
  display: inline-block;
  box-sizing: border-box; }

/*header*/
.page-header {
  width: 100%;
  position: fixed;
  top: 0;
  padding-left: 131px;
  padding-right: 131px;
  background-color: #000;
  opacity: .7;
  z-index: 2; }
  .page-header .logo {
    font-family: 'YesevaOneRegular';
    font-size: 27px;
    text-transform: uppercase;
    color: silver; }
  .page-header nav.main-nav {
    display: inline-block;
    margin-left: 150px;
    font-family: 'LatoBold';
    font-size: 15px; }
    .page-header nav.main-nav ul li {
      display: inline-block;
      margin-left: 15px; }
      .page-header nav.main-nav ul li a {
        color: #fff; }
  .page-header ul.header-soc-networks {
    display: inline-block; }
    .page-header ul.header-soc-networks li {
      display: inline-block;
      vertical-align: middle; }
      .page-header ul.header-soc-networks li a {
        display: inline-block;
        width: 21px;
        height: 21px;
        background-image: url("../img/index_header_social.png");
        background-size: cover; }
      .page-header ul.header-soc-networks li:nth-of-type(1) {
        margin-right: 15px; }
        .page-header ul.header-soc-networks li:nth-of-type(1) a {
          background-position: 0px; }
      .page-header ul.header-soc-networks li:nth-of-type(2) {
        margin-right: 15px; }
        .page-header ul.header-soc-networks li:nth-of-type(2) a {
          background-position: -35px; }
      .page-header ul.header-soc-networks li:nth-of-type(3) a {
        background-position: -60px; }

.home {
  padding-top: 195px;
  padding-bottom: 106px;
  background-image: url("../img/index_home_bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .home h1 {
    padding-left: 200px;
    padding-right: 200px;
    color: #fff;
    text-align: center;
    font-family: 'YesevaOne';
    font-size: 68px; }
    .home h1:after {
      content: '';
      margin: 42px auto;
      display: block;
      background: url("../img/index_home_divider.png");
      width: 232px;
      height: 43px; }
  .home-buttons {
    width: 50%;
    margin: 0 auto;
    text-align: center; }
    .home-buttons .btn {
      font-family: 'LatoRegular';
      font-size: 13px;
      text-transform: uppercase;
      display: inline-block;
      background-color: #000;
      color: #fff;
      opacity: .8;
      padding: 18px 42px; }
      .home-buttons .btn:nth-of-type(2) {
        margin-left: 21px; }

.about {
  padding-top: 75px;
  padding-bottom: 75px;
  background-image: url("../img/index_about_bg_pattern.png"), url("../img/index_about_bg.png");
  background-size: cover;
  background-position: center; }
  .about-left {
    vertical-align: top; }
  .about-title {
    color: #cc9900;
    font-family: 'YesevaOne';
    font-size: 27px;
    text-align: center; }
    .about-title:after {
      content: '';
      display: block;
      margin: 18px auto;
      background: url("../img/index_about_divider.png");
      background-size: cover;
      background-position: center;
      width: 183px;
      height: 21px; }
  .about-content {
    font-family: 'LatoRegular';
    font-size: 12px;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 40px; }
  .about-signature {
    margin: 39px 175px;
    width: 219px;
    height: 221px;
    background-image: url("../img/index_about_cook.png");
    background-size: cover; }
  .about-img {
    display: block;
    margin-left: 10px;
    width: 435px;
    height: 435px; }

.ingredients {
  padding-top: 75px;
  padding-bottom: 75px;
  padding-left: 30px;
  padding-right: 30px;
  background-image: url("../img/index_ingredients_bg.png");
  background-size: cover;
  background-position: center;
  text-align: center; }
  .ingredients-right {
    color: #fff;
    background-color: #000;
    opacity: .6;
    padding-top: 66px;
    padding-bottom: 66px;
    padding-left: 60px;
    padding-right: 60px; }
  .ingredients-title {
    font-family: 'YesevaOneRegular';
    font-size: 27px; }
    .ingredients-title:after {
      content: '';
      margin: 18px auto;
      display: block;
      background: url("../img/index_ingredients_divider.png");
      background-size: cover;
      background-position: center;
      width: 189px;
      height: 21px; }
  .ingredients-content {
    font-family: 'LatoRegular';
    font-size: 16px; }
  .ingredients-item {
    display: inline-block;
    width: 84px;
    height: 84px;
    margin-top: 54px;
    background-size: cover; }
    .ingredients-item:nth-of-type(1) {
      background-image: url("../img/index_ingredients_1.png"); }
    .ingredients-item:nth-of-type(2) {
      background-image: url("../img/index_ingredients_2.png");
      margin-left: 24px; }
    .ingredients-item:nth-of-type(3) {
      background-image: url("../img/index_ingredients_3.png");
      margin-left: 24px; }

.menu {
  padding-top: 75px;
  padding-bottom: 75px;
  padding-left: 82px;
  padding-right: 82px;
  background-image: url("../img/index_menu_bg_pattern.png"), url("../img/index_menu_bg.png");
  background-size: cover;
  background-position: center; }
  .menu-item {
    margin-bottom: 60px; }
    .menu-item-title {
      color: #cc9900;
      text-align: center;
      font-family: 'YesevaOneRegular';
      font-size: 27px; }
      .menu-item-title:after {
        content: '';
        display: block;
        margin: 18px auto;
        background: url("../img/index_about_divider.png");
        background-size: cover;
        background-position: center;
        width: 183px;
        height: 21px; }
    .menu-item .dish-name {
      font-family: 'YesevaOneRegular';
      font-size: 16px;
      color: #cc9900;
      border-bottom: 1px solid #cc9900;
      text-align: left; }
    .menu-item .dish-price {
      float: right; }
    .menu-item .dish-description {
      font-family: 'LatoRegular';
      font-size: 14px; }
