@import fonts

a 
	text-decoration: none
ul
	list-style-type: none

h2, h3, h4
	font-weight: normal

[class*='-inner']
	max-width: 1200px
	padding-left: 131px
	padding-right: 131px
	margin: 0 auto

[class*='-left'], [class*='-right']
	width: 48%
	display: inline-block
	box-sizing: border-box

/*header*/
.page-header
	width: 100%
	position: fixed
	top: 0
	padding-left: 131px
	padding-right: 131px
	background-color: #000
	opacity: .7
	z-index: 2

	.logo
		font-family: 'YesevaOneRegular'
		font-size: 27px
		text-transform: uppercase
		color: silver

	nav.main-nav
		display: inline-block
		margin-left: 150px
		font-family: 'LatoBold'
		font-size: 15px

		ul
			li
				display: inline-block
				margin-left: 15px

				a
					color: #fff

	ul.header-soc-networks
		display: inline-block
		li
			display: inline-block
			vertical-align: middle
			a 
				display: inline-block
				width: 21px
				height: 21px
				background-image: url('../img/index_header_social.png')
				background-size: cover

			&:nth-of-type(1)
				margin-right: 15px
				a
					background-position: 0px
			&:nth-of-type(2)
				margin-right: 15px
				a
					background-position: -35px
			&:nth-of-type(3)
				a
					background-position: -60px

.home
	padding-top: 195px
	padding-bottom: 106px
	background-image: url('../img/index_home_bg.jpg')
	background-size: cover
	background-position: center
	background-attachment: fixed
	h1
		padding-left: 200px
		padding-right: 200px
		color: #fff
		text-align: center
		font-family: 'YesevaOne'
		font-size: 68px

		&:after
			content: ''
			margin: 42px auto
			display: block
			background: url('../img/index_home_divider.png')
			
			width: 232px
			height: 43px

	&-buttons
		width: 50%
		margin: 0 auto
		text-align: center

		.btn
			font-family: 'LatoRegular'
			font-size: 13px
			text-transform: uppercase
			display: inline-block
			background-color: #000
			color: #fff
			opacity: .8
			padding: 18px 42px 

			&:nth-of-type(2)
				margin-left: 21px

.about
	padding-top: 75px
	padding-bottom: 75px
	background-image: url('../img/index_about_bg_pattern.png'), url('../img/index_about_bg.png')
	background-size: cover
	background-position: center

	&-left
		vertical-align: top

	&-title
		color: #cc9900
		font-family: 'YesevaOne'
		font-size: 27px
		text-align: center
		&:after
			content: ''
			display: block
			margin: 18px auto
			background: url('../img/index_about_divider.png')
			background-size: cover
			background-position: center
			width: 183px
			height: 21px

	&-content
		font-family: 'LatoRegular'
		font-size: 12px
		text-align: center
		padding-left: 80px
		padding-right: 80px
		margin-top: 40px
	
	&-signature
		margin: 39px 175px
		width: 219px
		height: 221px
		background-image: url('../img/index_about_cook.png')
		background-size: cover

	&-img
		display: block
		margin-left: 10px
		width: 435px
		height: 435px

.ingredients
	padding-top: 75px
	padding-bottom: 75px
	padding-left: 30px
	padding-right: 30px
	background-image: url('../img/index_ingredients_bg.png')
	background-size: cover
	background-position: center
	text-align: center

	&-right
		color: #fff
		background-color: #000
		opacity: .6
		padding-top: 66px
		padding-bottom: 66px
		padding-left: 60px
		padding-right: 60px

	&-title
		font-family: 'YesevaOneRegular'
		font-size: 27px

		&:after
			content: ''
			margin: 18px auto
			display: block
			background: url('../img/index_ingredients_divider.png')
			background-size: cover
			background-position: center
			width: 189px
			height: 21px

	&-content
		font-family: 'LatoRegular'
		font-size: 16px

	&-item
		display: inline-block
		width: 84px
		height: 84px
		margin-top: 54px
		background-size: cover

		&:nth-of-type(1)
			background-image: url('../img/index_ingredients_1.png')
		&:nth-of-type(2)
			background-image: url('../img/index_ingredients_2.png')
			margin-left: 24px
		&:nth-of-type(3)
			background-image: url('../img/index_ingredients_3.png')
			margin-left: 24px

.menu
	padding-top: 75px
	padding-bottom: 75px
	padding-left: 82px
	padding-right: 82px
	background-image: url('../img/index_menu_bg_pattern.png'), url('../img/index_menu_bg.png')
	background-size: cover
	background-position: center

	&-item
		margin-bottom: 60px

		&-title
			color: #cc9900
			text-align: center
			font-family: 'YesevaOneRegular'
			font-size: 27px

			&:after
				content: ''
				display: block
				margin: 18px auto
				background: url('../img/index_about_divider.png')
				background-size: cover
				background-position: center
				width: 183px
				height: 21px

		.dish

			&-item

			&-name
				font-family: 'YesevaOneRegular'
				font-size: 16px
				color: #cc9900
				border-bottom: 1px solid #cc9900
				text-align: left

			&-price
				float: right

			&-description
				font-family: 'LatoRegular'
				font-size: 14px